%h1 Whoa! 
%p It's the index, Bra!

%h2 Check out these users!
- ['aq', 'team_lazer'].each do |name|
  %p
    %a{:href => "/user/#{name}"}= name

%h2 Or create your own!

%form{:method => 'post', :action => '/user'}
  %input{:type => 'text', :name => 'name'}
  %input{:type => 'submit', :value => 'Go!'}